@tailwind base;
@tailwind components;

.bg-picSignUp {
    background-image: url("../assets/home7.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* opacity: 0.7; */
}

@tailwind utilities;