@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-picSignUp {
    /* background-image: url("picSignUp2.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
}

/* .bg-vid {
    background-image: url("railwayVid.mp4");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
} */

.bg-vid {
    position: relative;
}

.fullscreen-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.2;
}

.center-rectangle1 {
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    /* background-color: #f0f0f0; */
    /* Set the rectangle color */
    padding: 20px;
    opacity: 3;
    /* Adjust the padding as needed */
}



.rectangle1 {
    background-color: black;
    /* Set the background color of the centered div */
    border: 2px solid #ccc;
    /* Add a border to create the rectangle effect */
    padding: none;
    max-width: 90vh;
    /* Add padding to the centered content */
}



.box{
    background-color: #000;
    opacity: 1;
    border: 10px white;
    padding: 2px;
    max-width: 100vh;
    max-height: 90vh;
    justify-content: center;
    align-items: center;
}
