@tailwind base;
@tailwind components;
.bgimage
{
    background-image: url("C:\Coding\Web Development\COC\railway-concession\public\image\loginImage.png");
    background-repeat: no-repeat;
    background-size:cover;
    opacity: 0.9;
}
@tailwind utilities;